<!--
    <header><h1>Simple Simon Game</h1></header>

    <div class="field red"></div>
    <div class="field blue"></div>
    <div class="field yellow"></div>
    <div class="field green"></div>
    <div class="bar" id="info">
      Welcome to Simon Game!
    </div>
    <div class="buttons">
      <button id="start">start</button>
      <button id="reset">reset</button>
      <button id="strict">strict mode disabled</button>
    </div>

    <footer>Created by Michał Pietraszko (@michpietraszko)</footer> -->

    <div class="container">
        <h1>SIMON</h1>
        <div class="simon">
            <div class="pad red" ></div>
            <div class="pad green" ></div>
            <div class="pad yellow" ></div>
            <div class="pad blue" ></div>
            <div class="display" id="display"></div>
        </div>
    </div>​
